html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  margin-top: -8px;
}

.background-contents {
  position:relative;
  font-family:tahoma, arial;
  color:white;
  background-image:url('Librarybackground.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  width:100vw;
  z-index:0;
  padding-bottom: 33px;
}
  
.background-contents::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100%;
  background-color:rgba(240, 255, 240, 0.434);  
}
  
label{
  display:block;
  margin:0.7em 0;
}

input,select,textarea {
  width:100%;
  margin:6px 0 0 0;
  border-radius:4px;
  min-height:2.7em;
  border:2px solid #f0f7d4;
}

h1 { 
  font-family: verdana;
  font-weight: 1000;
  position:relative;
  font-size: 30px;
  z-index:4;
  text-align:center;
  padding-top:1.7em; 
  line-height:1;
}

p {
  text-align:center;
  padding-bottom:1em;
  position:relative;
  z-index:4;
  line-height:0.8;
  font-size: 17px;
  font-style:italic;
}
  
.form-contents {
  border-radius:5px;
  padding-top: 1em;
  padding-bottom:.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size:17px;
  max-width:650px;
  min-width:300px;
  margin:0 auto auto auto; 
  border: 3px solid rgba(85, 105, 98, 0.322);
  background-color: #39614ecc;
  box-shadow: 4px 3px 1px rgba(0, 0, 0, 0.3);
  position:relative;
  z-index:4;
}
  
.inline {
  display:inline;
  width:unset;
  margin:0 0.5em 0 0;
  vertical-align: middle;
}
    
fieldset {
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid rgb(240, 247, 212, 0.5);
  padding-top: 1.2em;
  padding-bottom: 2.5em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  padding-bottom: 30px;
}
  
input[type="submit"] {
  display:block; 
  color:white;
  width:95%;
  margin:0 auto 0 auto;
  font-size: 17px;
  background-color:#171f44;
  border:0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="radio"] {
  transform: scale(1.5);
}
  
input[type="checkbox"] {
  transform: scale(1.7)
}
   
::placeholder {
  font-size: 15px;
}
  
.custom {
 margin-bottom: 2em;
 padding-bottom: 1.5em;
}

.custom > legend {
  margin-bottom: -6px;
}
    
.custom2 {
  margin-top: -20px;
  padding-bottom: 35px;
}

.custom3 {
  margin-top:1em;
}
  
.custom1 {
  margin: -3px;
}
  
fieldset[id=bottom] {
  border-bottom: none;
  box-shadow: 0px 0px 0px;
  margin-bottom: -20px;
  margin-top: -10px;
} 

@media (max-width: 768px) {

  h1 {
    font-size: 16px;
    padding-top: 40px;
  }

  p {
    font-size: 12px;
  }

  .background-contents {
   padding-bottom: 13px;
  }

  .form-contents {
    min-width: 250px;
    max-width: 400px;
    width: 90%;
    font-size: 12px;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    padding-left: 0em;
    padding-right: 0em;
  }

  input, textarea {
    width: 100%;
    margin: 6px 0 0 0;
    border-radius: 2.8px;
    min-height: 2em;
    border: 1px solid #f0f7d4;
  }

  ::placeholder {
    font-size: 11px;
  }

  fieldset {
    margin: auto;
    width: 85%;
    border-bottom: 1px solid rgb(240, 247, 212, 0.5);
    border-radius: 3px;
    padding-left: 4px;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }

  .custom {
    margin-bottom: 34px;
    padding-bottom: 30px;
  }

  fieldset[id=bottom] {
    border-bottom: none;
    box-shadow: 0px 0px 0px;
    margin-bottom: -20px;
    margin-top: 0px;
  } 

  input[type="submit"] {
    width: 95%;
    height: 32px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input[type="radio"] {
    transform: scale(1);
  }
    
  input[type="checkbox"] {
    transform: scale(1.1)
  }

  .custom2 {
    margin-top: 0px;
    padding-bottom: 28px;
  }

}